.button {
    flex: none;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
    background-color: #4cafc8;
    border: none;
    border-radius: 30px;
    outline: none;
    height: 40px;
    margin: auto;
    font-size: 12px;
}

.button:disabled {
    background-color: rgb(193, 193, 193);
    color: grey;
}
